{% if items %}
  <nav class="navbar navbar-expand-lg navbar-light w-100 shadow-sm sticky-top h-100" id="menu-main-page">
    <ul class="navbar-nav mr-auto"{{ attributes.addClass('menu') }}>
      {% for item in items %}
        {% if item.title == 'Logo' %}
          <li class="nav-item {{ item.in_active_trail ? 'active' : '' }}" id="logo-header">
            <a href="{{ item.url }}" class="nav-link logo">
              <img src="/themes/educk_theme/images/LOGOSinFondo.png" alt="{{ item.title }}">
            </a>
          </li>
        {% endif %}
      {% endfor %}

      <div id="right-section" class="ml-1  ">
        {% for item in items %}
          {% if item.title != 'Logo' %}
            <li class="nav-item item-link-nav {{ item.in_active_trail ? 'active' : '' }}">
              {% if item.title == 'Inicio' %}
                <a href="{{ item.url }}" class="nav-link Menu-is-login">
                  <img src="/themes/educk_theme/images/home.svg" alt="{{ item.title }}"> {{ item.title }}
                </a>
              {% elseif item.title|trim == 'Iniciar Sesión' %}
                <a href="{{ item.url }}" class="nav-link">
                  <img src="/themes/educk_theme/images/login.svg" alt="{{ item.title }}"> {{ item.title }}
                </a>
              {% elseif item.title == 'MenuDesplegable' %}
                <a href="{{ item.url }}" class="nav-link dropdown-toggle mb-2 me-3 " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src="/themes/educk_theme/images/user_male_circle.svg" alt="Icono de usuario">
                  {% if user_name is defined %}
                    {{ user_name }}
                  {% else %}
                    Usuario
                  {% endif %}
                </a>
                {% if item.below %}
                  <ul class="dropdown-menu">
                    {% for subitem in item.below %}
                      <li>
                        <a href="{{ subitem.url }}" class="dropdown-item">{{ subitem.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% else %}
                <a href="{{ item.url }}" class="nav-link {{ item.is_expanded ? 'dropdown-toggle' : '' }}" {% if item.is_expanded %}data-toggle="dropdown"{% endif %}>
                  {{ item.title }}
                </a>
                {% if item.below %}
                  <ul class="dropdown-menu">
                    {% for subitem in item.below %}
                      <li>
                        <a href="{{ subitem.url }}" class="dropdown-item">{{ subitem.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </div>
    </ul>
  </nav>
{% endif %}